<div class="container">
    <div class="row">
        <div class="col">
            <form action="/admin/login" class="loginform" method="post">
                <div class="form-floating mb-3">
                    <input type="text" name=usuario class="form-control" id="floatingInput" placeholder="usuario">
                    <label for="floatingInput">Usuario</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            {{#if error}}
                <p>Usuario o clave incorrecto</p>
            {{/if}}
        </div>
    </div>
</div>
