header h2{
    height: 200px;
    padding: 0px;  
    font-size: 50px;
    line-height:50px;
    color: #ff9100;
    text-align: center;
    font-style: italic;
    font-weight: 700;
}

@media (max-width: 960px) {
header{
    height: 220px;
}
header h2{
    margin-top: 5px;
    font-size: 30px;
    text-align:center;
    line-height: 1.2;
}
}