.socios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section h2{
    text-align: center;
    line-height: 1.5;
    color: rgb(170, 170, 170);
}

hr{
    border-color: #289dd2;
}

.negrita{
    font-weight: bold;
}

.negrita a{
    color: deeppink;
}

.resumen{
    align-items: center;
}

.resumenes :nth-child(even){
    flex-direction: row-reverse;
}

.socios img{
    margin: 25px;
    height: 170px;
    width: 170px;
}

@media (max-width: 960px) {
    
    .fila{
        flex-direction: column;
        align-items: center;
    }

    .resumenes :nth-child(n+1){
        flex-direction: column-reverse;
    }

    .columna33{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: justify;
        border-bottom: 1px solid #289dd2;
    }

    .columna67{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: justify;
        border-bottom: 1px solid #289dd2;
    }

    section h2{
        font-size: 15px;
        text-align: center;
        line-height: 1.2;
    }

}

