.socios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section h2{
    text-align: center;
    line-height: 1.5;
    color: rgb(170, 170, 170);
}

hr{
    border-color: #289dd2;
}

.socios img{
    margin: 25px;
    height: 170px;
    width: 170px;
}

/* .carousel{
    height: 320px;
    display: inline-block;
} */

@media (max-width: 960px) {
    
    .fila{
        flex-direction: column;
        align-items: center;
    }

    .columna33{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: justify;
        border-bottom: 1px solid #289dd2;
    }

    /* .carousel{
        display:none;
    } */
}

