.stakeholder_card{
    border: solid 1px grey;
    border-radius: 8px;
    padding: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.stakeholder_card .stakeholder_info h3{
    font-style: italic;
    color:#f1b000;
    border-bottom: 1px solid #289dd2;
    padding-bottom: 8px;
}

.stakeholder_card .stakeholder_info p{
    font-size: 14px;
}

.stakeholder_card .stakeholder_info .comentario{
    color:#f1b000;
}

.stakeholder_card img{
    display: block;
    border-radius: 8px;
}

.stakeholder_card:nth-child(even){
    flex-direction: row-reverse;
}

@media (max-width: 960px) {
    .stakeholder_card:nth-child(n+1){
        flex-direction: column;
    }
}